#whiteboard{
    margin: 25px;
    margin-left: 40%;
    border: 4px solid black;
    border-radius: 5px;
    box-shadow: 15px 25px rgb(65, 65, 65);
}

#content{
    margin-left: 30%;
    margin-top: 20%;
    float: left;

}

#reset{

    font-size: 50px;
    background-color: yellowgreen;
    border-radius: 5px 20px 5px;
    box-shadow: 5px 10px rgb(65,65,65);

}

#reset:active{
    transform: translateY(4px);

}