#droppableDiv{
    height: 300px;
    margin-top: 20px;
    border: 2px solid #000;
}
#dragComponentsDiv{
    width:80%;
    height: 200px;
    margin:auto auto;
    margin-top: 20px;
    align-items: center;
    /* border:2px solid #000; */
}
#dropArea{
    height: 300px;
    padding:20px 0;
    width: 80%;
    margin:auto auto;
    margin-top: 20px;
    
    border:2px solid #000;
}
.btn-primary{
    margin-top:20px;
    margin-right: 100px;
    float: right;
}