/* SIDEBAR CSS *//* SIDEBAR CSS *//* SIDEBAR CSS *//* SIDEBAR CSS *//* SIDEBAR CSS *//* SIDEBAR CSS *//* SIDEBAR CSS */
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2.5em;
}

.linklist{
  margin: 0;
  padding: 0;
  text-align: center;
}


.fa {
position: sticky;
display: table-cell;
width: 75px;
height: 50%;
text-align: center;
vertical-align: middle;
font-size:75px;



}

.NavPlz{
  position: sticky;

}

.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
/* background:#5da3ff;
top:0;
bottom:0;
height:100%;


z-index:9; */
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
float: left;
background: #000000;
width: 95px;
height: 90vh;
overflow: hidden;
position: sticky;

}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:rgb(153, 153, 153);
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
font-size: 20px;
}
/* 
.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
} */

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color: rgb(0, 0, 0);
background-color:#5fa2db;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


/* EVERYTHING ABOVE THIS IS SIDEBAR CSS */
/* IMMEDIATE BELOW IS THE NAVBAR */
.black{
    background-color: black;
}

.navbar{
height: 90px;
z-index: 0;

}

.logo{
   
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes rotate{

    100%{
      transform:rotate(360deg);
    }
  }






  
/* LEADERBOARD CSS *//* LEADERBOARD CSS *//* LEADERBOARD CSS *//* LEADERBOARD CSS *//* LEADERBOARD CSS *//* LEADERBOARD CSS */
#leadertitle{
    position: absolute;
    left: 35%;
    color: rgb(83, 114, 134);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    top: 1%;
}
#leaderdiv {
    height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* #table{
    position: absolute;
    top: 20%;
    opacity: .75;
}
#even{

    width: 100px;
    background-color: white;
    border: black 1px solid;
    height: 40px;
    color: black;
}
#odd{
    background-color: gray;
    border: black 1px solid;
    height: 40px;

} */
#jstitle{
    top: 5%;
    position: absolute;
    color:black;
    left: 15%;
    opacity: .75;

}

#htmltitle{
    top: 5%;
    position: absolute;
    color:black;
    left: 45%;
    opacity: .75;

}
#csstitle{
    top: 5%;
    position: absolute;
    color: black;
    left: 70%;
    opacity: .75;

}
#borderOuter {
    position: absolute;
    left: 15%;
    width: 50%;
    background-image:url(https://www.solidbackgrounds.com/images/950x350/950x350-charleston-green-solid-color-background.jpg);
    border: rgb(83, 114, 134) solid 4px;
}
/* WHITEBOARD CSS *//* WHITEBOARD CSS *//* WHITEBOARD CSS *//* WHITEBOARD CSS *//* WHITEBOARD CSS *//* WHITEBOARD CSS */
#fatherdiv{
    height: 95vh;
    background-image: url(https://images.unsplash.com/photo-1547414876-def1cc35dcbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#whiteboard{
    width: 1000px;
    height: 600px;
    position: relative;
    background-color: white;
    right: 30%;
    top: 10%;
    margin-left: 60%;
    border: 4px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px rgb(65,65,65);
}

#content{
    margin-left: 30%;
    margin-top: 20%;
    float: left;

}

#reset{
    position: relative;
    right: 200%;
    top: 90%;
    font-size: 50px;
    background-color: limegreen;
    border-radius: 5px 20px 5px;
    box-shadow: 5px 10px rgb(65,65,65);

}

#reset:active{
    transform: translateY(4px);

}
/* MEMORY PAGE CSS *//* MEMORY PAGE CSS *//* MEMORY PAGE CSS *//* MEMORY PAGE CSS *//* MEMORY PAGE CSS *//* MEMORY PAGE CSS */
#motherdiv{
    height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1525468568166-6f2cd17c7ec9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  

  body {
    margin: 0;
  }
  
  .grid-container {
    display: inline-grid;
    grid-gap: 450px;
    grid-template-columns: auto auto auto auto;
    padding: 10px 150px 10px 150px;
  }

#cardDiv{
    width: 100%;
    height: 100%;
}

.grid-header-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #c9d1f5;
    padding: 10px;
  }
  
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
  
  .justify-left {
    text-align: left
  }
  
  .justify-end {
    text-align: right;
  }
  
  .justify-center {
    text-align: center;
  }
  
  .timer {
    color: #5168e9;
    font-size: 20px;
    font-weight: bold;
  }
  
  .restart-button {
    width: 15em;
    height: 3em;
    color: white;
    background-color: #5168e9;
    border: 0;
  }
  
  .game-status-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(24, 21, 16);
    font-weight: bold;
  }
  
  .card {
    size: 20%;
    font-size: 35px;
    background-image: url(https://1001freedownloads.s3.amazonaws.com/vector/thumb/109019/index_card.png);
    box-shadow: 5px 5px 5px rgba(24, 23, 23, 0.6);
    width: 1px;
    height: 1em;
}

.card-back {
    font-weight: bold;
  }
  
  .react-card-front {
    position: unset !important;
  }


/* MAIN PAGE CSS *//* MAIN PAGE CSS *//* MAIN PAGE CSS *//* MAIN PAGE CSS *//* MAIN PAGE CSS *//* MAIN PAGE CSS *//* MAIN PAGE CSS */

.mainTitle {
color: white;
font-family: 'Libre Caslon Text', serif;
font-size: 100px;
font-weight: bold;
text-shadow: 0 3px 3px rgb(0, 0, 0), 0 3px 3px rgb(0, 0, 0);
text-align: center;
}

.mainp {
font-family: 'Libre Caslon Text', serif;
color: white;
font-size: 18px;
text-align: center;
}

.parallax {
/* The image used */
background-image: url('https://images.unsplash.com/photo-1550439062-609e1531270e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');

/* Full height */
height: 100%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

padding: 15% 0 20% 0;
text-align: center;
}

.mainButton {
background: #00258f;
font-family: 'Libre Caslon Text', serif;
text-align: center;
}

.signIn {
padding: 3% 0 0 0;
text-align: center;
height: 550px;
/* background: slategray; */
background: black;  
/* color: #00258f; */
color: white;
font-size: 20px;
/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
}

.about {
font-size: 50px;
font-family: 'Libre Caslon Text', serif;
text-shadow: none;
color: #00258f;
}

.aboutReasons{
    font-family: 'EB Garamond', serif;
    font-size: 20px;

}
.reason1,
.reason2,
.reason3,
.reason4 {
box-sizing: border-box;
float: left;
/* This width is for if there are three columns */
/* width: 33.33%; */
/* This width is for if there are four columns */
width: 25%;
padding: 45px;
margin-top: 3%;
padding-bottom: 3%;
}

.reason1,
.reason2,
.reason3{
box-sizing: border-box;
float: left;
border-right: #00258f 3px dotted;
height: 100%;

}

.logo {

animation-name: rotate;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes rotate {

100% {
    transform: rotate(360deg);
}
}


/* DRAG AND DROP CSS *//* DRAG AND DROP CSS *//* DRAG AND DROP CSS *//* DRAG AND DROP CSS *//* DRAG AND DROP CSS *//* DRAG AND DROP CSS */
.resultLink{
    color:#fff;
}

.resultLink:hover{
    color:#fff;
}

#btnDiv{
    position: relative;
}

.DragDrop .row{
   position: relative;
   top:auto; 
   width: 100%;
}
.DragDrop #btnDiv{
    top:auto;
}
.hide{
    display:none;
}
.show{
    display: block;
}
#pageHeading{
    font-family: 'EB Garamond', serif;
    margin-left: 15%;
    text-align: center;
    font-size: 3em;
}
#score{
    margin-top: -50px;
    margin-left: 10px;
    padding:5px;
    text-align: center;
    border:2px solid #000;
    height: 60px;   
    box-shadow: 3px 3px 4px #ccc;
    border-radius: 10px;
    background: #678;
    color: #fff;
    font-family: 'EB Garamond', serif;

}

.cardDiv{
    
}
#dragDropArea{
    padding: 50px;
    width: 80%;
    height: 200px;
    border: 2px solid midnightblue;
    border-radius: 25px;
    box-shadow: 3px -2px 3px midnightblue;
    margin: auto auto;
    margin-top:10px;
    margin-bottom: 10px;
    text-align: center;   
    
}


#questionDiv{
    width: 80%;
    /* height: 100px; */
    min-height: 100px;
    height: auto;
    margin: auto auto;
    margin-top: 50px;
    text-align: center;
    /* border: 2px solid #fdd3ac; */
    border: 2px solid midnightblue;
    border-radius: 10px;
    box-shadow: 3px -2px 3px midnightblue;
    font-family: 'EB Garamond', serif;

}

/* #questionDiv:hover, */
 #choice:hover{
    background: midnightblue;
    font-family: 'EB Garamond', serif;
    font-size: 14px;
    color: white;

}

#dragComponentsDiv{
    padding:10px;
    border: 2px solid midnightblue;
    border-radius: 25px;
    box-shadow: 3px -2px 3px midnightblue;
    text-align: center;
    height: auto;
    width: 80%;
    font-family: 'EB Garamond', serif;

}

#choice.choice{
    border: 2px solid #fdd3ac;
    border-radius: 25px;
    box-shadow: 3px -2px 3px midnightblue;
    margin: 1%;
}

#DragDropPage{
    background-image: url(../../../pages/concrete_seamless.png);
    width: 95%;
    height: 90vh;
    position: absolute;
    display: inline;
    padding-left: 5%;

    /* min-height: 700px; */
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    float: right;
}

.dragDropBorder{
    /* border: solid 2px midnightblue; */
}

/* FLASH CARD CSS *//* FLASH CARD CSS *//* FLASH CARD CSS *//* FLASH CARD CSS *//* FLASH CARD CSS *//* FLASH CARD CSS */
.row{
    width: 100%;
    /* position: relative; */
}
/* PROFILE PAGE CSS *//* PROFILE PAGE CSS *//* PROFILE PAGE CSS *//* PROFILE PAGE CSS *//* PROFILE PAGE CSS *//* PROFILE PAGE CSS */
#brotherrdiv{
    background-image: url("https://res.cloudinary.com/demo/image/upload/w_250,h_250,c_mfit/w_700/sample.jpg");
    height: 90vh;  
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* #profileTitle {
    position: absolute;
    left: 40%;
    color: orange;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} */
/* body {
    background-image: linear-gradient(to bottom right, dodgerblue, blueviolet)
} */

#profilemain {
    position: absolute;
    width: 37%;
    height: 30%;
    background-image: url("https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif");
    background-repeat: no-repeat;
    left: 20%;
    bottom: 50%;
}
#profileGameTracker {
    position: absolute;
    width: 37%;
    height: 30%;
    background-image: url("https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif");
    background-repeat: no-repeat;
    left: 20%;
    bottom: 10%;
}
#profileImage{
    position: absolute;
    top: 2%;
    left: 60%;
    width: 0;
    height: 0;
    border-top: 95px solid transparent;
    border-right: 190px solid limegreen;
    border-bottom: 95px solid transparent;
}
.row{
    position: absolute;
    top: 19.4%;
}
#triangle {
    position: absolute;
    left: 85px;
    top: -50px;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to top left, dodgerblue, blueviolet)
}
#ticker {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    height: 3%;
}

/* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR */
#navbar {
    background-color: rgb(83, 114, 134)!important;
  }




/* flash card page here V V */
#Flashpagebox{
    background-image: url(../../../pages/bookworm1.jpg);
    /* background-image: url(./supplies.jpg); */
    height: 100vh;  
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* profile page */
#message, #progress{
    text-align: center;
    background-color: rgb(206, 204, 199);
    border: 1px solid black;
    margin: 0% 5% 1% 10%;
    padding: 1%;
    border-radius: 25px;
    box-shadow: 5px 5px rgb(65, 65, 65);
}

/* #message{
    margin-top: 1%;
} */

#profileTitle, #profileUser, #profileText, #progressUser{
    font-family: 'EB Garamond', serif;
}

#progressUser, #progressText{
    text-align: left;
    font-family: 'EB Garamond', serif;
}

#profileBackground{
    background-image: url(../../../pages/cleardesk.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#Flashpagebox .card-container{ 
    cursor: pointer;
   height: 400px;
   width: 700px;
   perspective: 800px;
   position: relative;
   transition: ease-in;
   word-wrap: break-word;
}

#questioncontainer{
    width: 500px;
    margin: auto auto;
    z-index: 9;
}

#Flashpagebox .card{
    height: 400px;
    width: 700px;
    position: absolute;
    border: 1px solid #300;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;

}

#Flashpagebox .card .front{
    height: 400px;
    width: 700px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    font-size: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #353535;
    padding: 20px;
    text-align: center;
}
#Flashpagebox .card .back{

    height: 400px;
    width: 700px;
    text-align: center;
    transform: rotateY(180deg);
    background: #ccc;

}