.card-container {
    cursor: pointer;
    height: 400px;
    width: 400px;
    perspective: 800px;
    position: relative;
    transition: ease-in;
    word-wrap: break-word;
  }
  
  .cardy {
    height: 400px;
    width: 400px;
    position: absolute;
    border: 1px solid #300;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
  }
  
  .cardy:hover {
    transform: rotateY(180deg);
    transition: all .3s ease-in-out;
  }
  
  .cardy .front {
    height: 400px;
    width: 400px;
    backface-visibility: hidden;
    position: absolute;
    font-size: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #353535;
  }
  /* h2 #questionH2{
    display: inline-block;
    color:red;
  } */
  
  .cardy .back {
    height: 400px;
    width: 400px;
    text-align: center;
    transform: rotateY(180deg);
    background: #ccc;
  }
  
  .question {
    color: #fff;
    font-size: 1.3em;
  }
  
  .answer {
    color: #333;
    font-size: 1.3em;
    padding: 10% 10% 0 10%;
  }
  
  .description {
    color: rgba(200, 10, 10, 1);
    font-size: 1em;
    padding: 10%;
  }
  /* h2{
    display: block;
  } */