.singleImg{
    width: 100px;
    height: 150px;
    display: inline-block;

}
/* h2{
    display: inline-block;
} */

.imgDiv{
    display: inline-block;

    margin-left: 50px;
    border-radius: 10px;
    /* border:2px solid #000; */

}

.imgDiv:hover{
    cursor: pointer;
    padding:2px;
    border: 1px solid #000;
    box-shadow: 10px 3px 10px #000;
}