/* SIDEBAR CSS *//* SIDEBAR CSS *//* SIDEBAR CSS *//* SIDEBAR CSS *//* SIDEBAR CSS *//* SIDEBAR CSS *//* SIDEBAR CSS */
.sidebar {
    position: absolute;
    background-color: black;
    opacity: .5;
    position: fixed;
    background: #ccc;
    color:#000;
    left: 0;
    top: 200px;
    bottom: 35;
    height: 300px;
    /* width: 215px; */
    width: 200px;
    margin-left: 0px;
    box-shadow: 5px 10px #474747;
    vertical-align: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 15px;
}

#head {
    padding-top: 4%;
    padding-right: 2%;
    padding-bottom: 5%;
}

#links {
    margin-right: 20%;
    font-size: 18px;
    color:#000;
    text-decoration: none;
    width: 100%;
}

#links:hover {
    box-shadow: 5px 5px #474747;
    text-decoration: none;
    width: 100%;
    border: 1px solid rgb(153, 118, 70);
}

#links:active {
    color: orangered;
    text-decoration: none;
    width: 100%;
    transform: translateY(5px);
}

.linkList {
    list-style: none;
}
/* LEADERBOARD CSS *//* LEADERBOARD CSS *//* LEADERBOARD CSS *//* LEADERBOARD CSS *//* LEADERBOARD CSS *//* LEADERBOARD CSS */
#leadertitle{
    position: absolute;
    left: 43%;
    color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    opacity: .5;
}
#leaderdiv {
    height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#leaderboard {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 70%;
}
/* #table{
    position: absolute;
    top: 20%;
    opacity: .75;
}
#even{

    width: 100px;
    background-color: white;
    border: black 1px solid;
    height: 40px;
    color: black;
}
#odd{
    background-color: gray;
    border: black 1px solid;
    height: 40px;

} */
#jstitle{
    top: 5%;
    position: absolute;
    color:black;
    left: 15%;
    opacity: .75;

}

#htmltitle{
    top: 5%;
    position: absolute;
    color:black;
    left: 45%;
    opacity: .75;

}
#csstitle{
    top: 5%;
    position: absolute;
    color: black;
    left: 70%;
    opacity: .75;

}
/* WHITEBOARD CSS *//* WHITEBOARD CSS *//* WHITEBOARD CSS *//* WHITEBOARD CSS *//* WHITEBOARD CSS *//* WHITEBOARD CSS */
#fatherdiv{
    height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1547414876-def1cc35dcbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#whiteboard{
    position: absolute;
    right: 30%;
    top: 25%;
    margin: 25px;
    margin-left: 60%;
    border: 4px solid black;
    border-radius: 5px;
    box-shadow: 15px 25px rgb(65, 65, 65);
}

#content{
    margin-left: 30%;
    margin-top: 20%;
    float: left;

}

#reset{
    position: absolute;
    top: 80%;
    left: 70%;
    font-size: 50px;
    background-color: limegreen;
    border-radius: 5px 20px 5px;
    box-shadow: 5px 10px rgb(65,65,65);

}

#reset:active{
    transform: translateY(4px);

}
/* MEMORY PAGE CSS *//* MEMORY PAGE CSS *//* MEMORY PAGE CSS *//* MEMORY PAGE CSS *//* MEMORY PAGE CSS *//* MEMORY PAGE CSS */
#motherdiv{
    height: 90vh;
    background-image: url(https://cdn.pixabay.com/photo/2017/09/05/10/19/business-2717063_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-gap: 200px 200px;
    grid-template-columns: auto auto auto auto;
    padding: 10px 15px 10px 15px;
    positIon: absolute;
    left: 30%;
    top: 30%;
}
#cardDiv{
    width: 100%;
    height: 100%;
}

.grid-header-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #c9d1f5;
    padding: 10px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);

}

.justify-left {
    text-align: left
}

.justify-end {
    text-align: right;
}

.justify-center {
    text-align: center;
}

.timer {
    color: #5168e9;
    font-size: 20px;
    font-weight: bold;
}

.restart-button {
    width: 15em;
    height: 3em;
    color: white;
    background-color: #5168e9;
    border: 0;
}
.card {
    width: 75%;
    height: 2.5em;
    background-color: white;
    color: black;
    font-size: 30px;
}

.hide-card {
    visibility: hidden;
}

.card-front {
    background-image: url(https://1001freedownloads.s3.amazonaws.com/vector/thumb/109019/index_card.png);
    box-shadow: 5px 5px 5px rgba(24, 23, 23, 0.6);
}

.card-back {
    font-weight: bold;
}

.react-card-front {
    position: unset !important;
}
/* MAIN PAGE CSS *//* MAIN PAGE CSS *//* MAIN PAGE CSS *//* MAIN PAGE CSS *//* MAIN PAGE CSS *//* MAIN PAGE CSS *//* MAIN PAGE CSS */

.mainTitle {
color: white;
font-family: 'Libre Caslon Text', serif;
font-size: 100px;
font-weight: bold;
text-shadow: 0 3px 3px rgb(0, 0, 0), 0 3px 3px rgb(0, 0, 0);
text-align: center;
}

.mainp {
font-family: 'Libre Caslon Text', serif;
font-size: 18px;
text-align: center;
}

.parallax {
/* The image used */
background-image: url('https://images.unsplash.com/photo-1550439062-609e1531270e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');

/* Full height */
height: 100%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

padding: 15% 0 15% 0;
text-align: center;
}

.mainButton {
background: #00258f;
font-family: 'Libre Caslon Text', serif;
text-align: center;
}

.signIn {
text-align: center;
height: 500px;
background: white;
color: #00258f;
font-size: 20px;
/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
}

.about {
font-size: 50px;
font-family: 'Libre Caslon Text', serif;
text-shadow: none;
color: #00258f;
}

.reason1,
.reason2,
.reason3,
.reason4 {
box-sizing: border-box;
float: left;
/* This width is for if there are three columns */
/* width: 33.33%; */
/* This width is for if there are four columns */
width: 25%;
padding: 50px;
}

.logo {

animation-name: rotate;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes rotate {

100% {
    transform: rotate(360deg);
}
}
/* DRAG AND DROP CSS *//* DRAG AND DROP CSS *//* DRAG AND DROP CSS *//* DRAG AND DROP CSS *//* DRAG AND DROP CSS *//* DRAG AND DROP CSS */
.DragDrop .row{
    width: 100%;
}
.cardDiv{
    
}
#dragDropArea{
    padding: 50px;
    width: 80%;
    height: 200px;
    border: 1px solid #000;
    margin: auto auto;
    margin-top:10px;
    margin-bottom: 10px;
    text-align: center;
}


#questionDiv{
    width: 80%;
    /* height: 100px; */
    min-height: 100px;
    height: auto;
    margin: auto auto;
    margin-top: 50px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 3px -2px 3px #000;
}

#questionDiv:hover{
    background: #c488c4;
}

#dragComponentsDiv{
    padding:10px;
    text-align: center;
}
/* FLASH CARD CSS *//* FLASH CARD CSS *//* FLASH CARD CSS *//* FLASH CARD CSS *//* FLASH CARD CSS *//* FLASH CARD CSS */
.row{
    width: 100%;
    /* position: relative; */
}
/* PROFILE PAGE CSS *//* PROFILE PAGE CSS *//* PROFILE PAGE CSS *//* PROFILE PAGE CSS *//* PROFILE PAGE CSS *//* PROFILE PAGE CSS */
#brotherrdiv{
    background-image: url("https://res.cloudinary.com/demo/image/upload/w_250,h_250,c_mfit/w_700/sample.jpg");
    height: 90vh;  
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#profileTitle {
    position: absolute;
    left: 40%;
    color: orange;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* body {
    background-image: linear-gradient(to bottom right, dodgerblue, blueviolet)
} */

#profilemain {
    position: absolute;
    width: 37%;
    height: 30%;
    background-image: url("https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif");
    background-repeat: no-repeat;
    left: 20%;
    bottom: 50%;
}
#profileGameTracker {
    position: absolute;
    width: 37%;
    height: 30%;
    background-image: url("https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif");
    background-repeat: no-repeat;
    left: 20%;
    bottom: 10%;
}
#profileImage{
    position: absolute;
    top: 2%;
    left: 60%;
    width: 0;
    height: 0;
    border-top: 95px solid transparent;
    border-right: 190px solid limegreen;
    border-bottom: 95px solid transparent;
}
.row{
    position: absolute;
    top: 19.4%;
}
#triangle {
    position: absolute;
    left: 85px;
    top: -50px;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to top left, dodgerblue, blueviolet)
}
#ticker {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    height: 3%;
}
/* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR */
#navbar {
    background-color: rgb(83, 114, 134)!important;
  }