.resultLink{
    color:#fff;
}

.resultLink:hover{
    color:#fff;
}

.btnDiv{
    position: relative;
}
.DragDrop .row{
   position: relative;
   top:auto; 
}
.DragDrop #btnDiv{
    top:auto;
}
.hide{
    display:none;
}
.show{
    display: block;
}
#pageHeading{
    text-align: center;
    font-size: 3em;
}
