.sidebar {
    position: fixed;
    color: lime;
    left: 0;
    top: 35;
    height: 40%;
    width: 200px;
    margin-left: 0px;
    box-shadow: 5px 10px #474747;
    vertical-align: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 15px;
}
#fatherdiv {
    position: absolute;
}
#head{
    text-align: center;
    margin-left: 2px;
    font-size: 25px;

}

#links{
  font-size: 22px;
  color: lime;
  text-decoration: none;
  border:1px solid black;
  width: 100%;
   }

#links:hover{
    box-shadow: 5px 5px #474747;
    text-decoration: none;
    width: 100%;


}

#links:active{

    color: orangered;
    text-decoration: none;
    width: 100%;
    transform: translateY(5px);




}
ul{
    list-style: none;
}
